.container {
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    width: 887px;
    height: 2024px; /* 506px * 4 */
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin: 30px;

  }

  .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  justify-content: flex-start;
}

.row p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px; /* Add margin at the top */
  margin-bottom: 10px; /* Add margin at the bottom */
  line-height: 2; /* Increase line-height for space between lines */
  text-align: center; /* Center-align the text */
}

/* .rowEnd {
  margin-top: -150px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 90%;
  justify-content: flex-end;
  padding-bottom: 70px;
} */
.rowEnd {
  /* Remove margin-top and padding-bottom to position the button at the bottom */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%; /* Set to 100% to cover the entire width of the screen */
  height: 100vh; /* Set to 100vh to cover the entire height of the viewport */
  position: fixed; /* Fix the element to the viewport */
  bottom: 20px; /* Position at the bottom */
  right: 120px; /* Position at the right */
}

.endButton {
  border-radius: 50%;
  border-color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  right: 5px;
  bottom: -8px;
  scale: .5;
}

.endButtonImg {
  padding: 3px 3px;
  height: 120px;
}

.image {
  height: 150px;
}

.chat {
  color: var(--text-color);
  background-color: var(--light-back-color);
  margin-left: 0px;
  width: inherit;
  border-radius: 20px;
  padding: 10px;
  margin-left: 30px;
  align-self: baseline;
  position: relative;
}

.chat p {
  font-size: 24px;
  margin-left: 10px;
}

.piquito {
  position: absolute;
  bottom: 2px;
  left: -17px;
}
.buttonRow {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonRow .buttonLink {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 24px;
  color: inherit;
  padding: 15px;
  padding-left: 42px;
  padding-right: 42px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 24px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.buttonRow .buttonLink:hover {
  background-color: var(--light-back-color);
  color: var(--accent-color);
}
.botonBack {
  position: fixed; /* Fix the element to the viewport */
  width: 6%; 
  height: 10%; 
  background: #fff; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  left: 20px;
  top: 120px;
  border-color: var(--accent-color);
}