.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--titles-color);
}
.container h1 {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 45vh;
  margin-bottom: 30px;
}

.moduloSugerencia {
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  height: 120px;
  padding: 30px;
  transition: 0.3s ease-in-out;
  color: var(--text-color);
  cursor: pointer;
}
.moduloSugerencia .text {
  width: 70%;
  font-size: 20px;
}
.moduloSugerencia .icon {
  width: 30%;
  height: 100%;
  color: #fc8b2d;
  transition: 0.3s ease-in-out;
}
.inputRow .icon {
  color: #fc8b2d;
  margin-left: -40px;
}
.moduloSugerencia:hover .icon {
  color: #f0f0f0;
}

.moduloSugerencia:hover {
  color: #f0f0f0;
  background-color: var(--accent-color);
}
.inputRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputRow input {
  width: 95%;
}


/* Descubrir.module.css */

/* Style for user messages */
.userMessage {
  background-color: #e5e5e5; /* Set your desired background color */
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 10px;
  text-align: left;
  width: 90%;
  word-wrap: break-word;
  /* Add other styles as needed */
}

/* Style for assistant messages */
.assistantMessage {
  background-color: #fc8b2d; /* Set your desired background color */
  color: white; /* Set your desired text color */
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 10px;
  text-align: left;
  width: 90%;
  word-wrap: break-word;
  /* Add other styles as needed */
}
