.container {
  text-decoration: none;
  background-color: #fff;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  position: relative;
  bottom: 142px;
  left: 14px;
}

.container img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
