.container {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row img {
  height: 60px;
}

.row h1 {
  color: var(--titles-color);
  margin-left: 20px;
}

.row h3 {
  color: var(--text-color);
  margin-right: 10px;
}

.avatar {
  height: 70px;
  width: 70px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar h1 {
  color: white;
  margin: 0;
  font-size: 24px;
}
